.dinoCardImage {
    width: 56.000003814697266px;
    height: 48px;
    position: absolute;
    top: 152px;
    left: 16px;
    z-index: 1;
}

@media (max-width: 1100px) {
    .dinoCardImage {
        width: 35px;
        height: 30px;
        position: absolute;
        top: 130px;
        left: 240px;
        transform: scaleX(-1);
    }
}
