* {
  font-family: Helvetica, sans-serif;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}
